<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment Page</title>
</head>
<body>
<table width="50%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td align="center" style="font-size: 27px;font-weight: bold;" height="65">Assignment Page</td>
    </tr>
</table>
<table width="50%" border="0" cellspacing="1" cellpadding="2" bgcolor="#cccccd"  style="margin-top: 13px;" align="center">
    <tr>
        <td >Homework Title</td>
        <td >Homework Content</td>
    </tr>
    <tr>
        <td style=" width:20%;
	background-color:#e9faff;">homework1</td>
        <td  style="
	background-color:#e9faff;">Part a: This part includes solving basic conversions and operations of binary numbers, writing algorithm for bank interest problem, and filling in true and false tables. Part b: This part requires us to write a program to explore string operations</td>
    </tr>
    <tr>
        <td style=" width:20%;
	background-color:#e9faff;">homework2</td>
        <td  style="
	background-color:#e9faff;">Part a: This homework contains three parts. The first problem is about tracking selection sort, its quit straight forward. The second question is about calculating time complexity of sort+binary search. The third problem is calculating the time complexity of a given pseudo code. Part b: This homework contains two parts. The first problem is about calculating the projectile with programming, and draw the projectile. The second problem is about building a fundamental program to read and parse the csv file.</td>
    </tr>
    <tr>
        <td style=" width:20%;
	background-color:#e9faff;">homework 3</td>
        <td  style="
	background-color:#e9faff;">Part a: This homework contains two parts. The first problem is about writing pseudo-code and calculating running time for sets operations. The second problem is coding recursively. Part b: This homework contains two parts. The first problem is a program doing percolation. The recursion part is not hard, but it only works when I got the graph write.  The second problem is about building a fundamental program to get dataset info and split dataset.</td>
    </tr>
    <tr>
        <td style=" width:20%;
	background-color:#e9faff;">Midterm Project</td>
        <td  style="
	background-color:#e9faff;">This homework requires to write a program to process(read and rewrite) ppm files, and a test program to test the results. It requires us to include 3 features. The first one is the object filter, so we can obtain the  content in common from 3 ppm files. The second one is to turn colored ppm files into black and white pictures. The last feature is to flip a ppm file horizontally.</td>
    </tr>
	 <tr>
        <td style=" width:20%;
	background-color:#e9faff;">homework 5</td>
        <td  style="
	background-color:#e9faff;">This homework allows us to process data with pandas, and calculates the accuracy percentage of data with knn, sklearn, and svm algorithm.</td>
    </tr>
    <tr>
        <td colspan="2">My favorite assignment is the midterm project. It's fun to process a picture down to pixels, and it's challenging to do operations correctly based on list operarions.</td>
    </tr>
</table>
</body>
</html>