<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes Page</title>
</head>
<body>
<table width="50%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td align="center" style="font-size: 27px;font-weight: bold;" height="65">Classes Page</td>
    </tr>
</table>
<table width="50%" border="0" cellspacing="1" cellpadding="2" bgcolor="#cccccd"  style="margin-top: 13px;" align="center">
    <tr>
        <td >Class Name</td>
        <td >Favorite Class</td>
    </tr>
    <tr>
        <td style=" width:40%;
	background-color:#e9faff;">Engi 1006 Intro to Python</td>

        <td rowspan="4" style="background-color:#e9faff;" >My favorite course so far is EOR 3404 Stimulation Modeling and Analysis, in this course, we are using python to stimulate a model using given probabilities, and we are able to use generated samples to compare with theroretical data.</td>
    </tr>
    <tr>
        <td style=" width:40%;
	background-color:#e9faff;">IEOR 3402 Production-Inventory Planning and Control</td>
       
    </tr>
    <tr>
        <td style=" width:40%;
	background-color:#e9faff;">IEOR 3404 Stimulation Modeling and Analysis</td>
       
    </tr>
    <tr>
        <td style=" width:40%;
	background-color:#e9faff;">IEOR 3609 Advanced Optimization</td>
      
    </tr>
    <tr>
    </tr>
</table>
</body>
</html>