<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<table width="40%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td align="center" style="font-size: 27px;font-weight: bold;" height="65">Personal Info</td>
    </tr>
</table>
<table width="40%" border="0" cellspacing="1" cellpadding="2" bgcolor="#cccccd"  style="margin-top: 13px;" align="center">
    <tr>
        <td style=" width:20%;background-color:#e9faff;" >NAME</td>
        <td style=" width:20%;background-color:#e9faff;">Yuhan Cui</td>
        <td width="20%" rowspan="8" ><img src="static/icon/yc3757_icon.jpg" width="100%" alt="YC3757"></td>

    </tr>
    <tr>
        <td style=" width:20%;
	background-color:#e9faff;">CURRENT GRADE</td>
        <td  style="
	background-color:#e9faff;">junior</td>
    </tr>
    <tr>
        <td style=" width:20%;
	background-color:#e9faff;">MAJOR</td>
        <td  style="
	background-color:#e9faff;">operations research</td>
    </tr>
    <tr>
        <td colspan="2">
		I recommend <a href="https://www.quoraconsulting.com/home#">quora</a> to you here, because you can exchange different opinions and perspectives here. </br>
		Here you can follow the <a href="http://127.0.0.1:5000/assignments">ENGI 1006 assignment</a> by clicking on the link.</br>
		In the meantime, you can check out <a href="http://127.0.0.1:5000/classes">my classes</a> for this semester through the following links
</td>
    </tr>

</table>



</body>
</html>